<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.felord.security.mapper.RolePermissionMapper">
    <select id="check" resultType="cn.felord.common.entity.securityserver.RolePermission">
        SELECT *
        FROM ROLE_PERMISSION
        WHERE ROLEID=#{roleId} AND  PERMISSIONID = #{permissionId}
    </select>
</mapper>